:root {
    /* DARK BLUE */
    --darkblue100: #609ED4;
    --darkblue200: #356EA9;
    --darkblue300: #0A3871;
    --darkblue400: #072B61;
    --darkblue500: #052051;
    /* LIGHT BLUE  */
    --lightblue100: #F3F5FC;
    --lightblue200: #EFF1FA;
    --lightblue300: #E9ECFB;
    --lightblue400: #AAB2D5;
    --lightblue500: #757FB2;
    /* GRAY */
    --gray100: #CED4DA;
    --gray200: #ADB5BD;
    --gray300: #868E96;
    --gray400: #495057;
    --gray500: #343A40;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

html {
    font-size: 62.5%;
    height: 100%;
    min-width: 30rem;
    max-width: 144rem;
    margin: auto;
}

body {
    font-size: 1rem;
    background-color: var(--lightblue100);
    min-height: 100%;
}

.grid-layout {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.bg-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

.modal-rel {
    position: relative;
}

.modal-abs {
    background-color: var(--lightblue100);
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-abs p:first-child {
    width: 7.5rem;
    height: 7.5rem;
    font-size: 4rem;
    font-weight: 700;
    color: var(--darkblue300);
    text-align: center;
    border: 1rem solid var(--darkblue300);
    border-radius: 20rem;
    margin: 0 0 1rem 0;
}

.modal-abs p:nth-child(2) {
    color:var(--darkblue300);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.modal-abs p:last-child {
    color:var(--gray400);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* HEADER */

.header {
    width: 100%;
    grid-area: header;
    grid-column: 1/3;
    grid-row: 1/2;
}

.header-title {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* LOGO */

.logo {
    width: 5%;
    margin: 2rem 0 0 4rem;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 4.8rem;
    margin: 2rem 0 0 4rem;
}

.title h1{
    color:var(--darkblue300);
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding-right: 1rem;
}

/* MAIN */

.main-grid {
    display: grid;
    grid-template-areas: 
        "section1"
        "section2"
        "section3";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.main {
    width: 100%;
    height: 100%;
    grid-area: main;
    grid-column: 1/3;
    grid-row: 2/3;
}

/* INPUT */

.section1 {
    grid-area: section1;
    grid-column: 1/2;
    grid-row: 1/2;
}

.text-input {
    min-width: 100%;
    padding: 0 1rem;
    min-height: 10rem;
    max-height: 15rem;
    margin: auto;
}

.text-input textarea {
    color: var(--darkblue300);
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    min-height: 10rem;
    max-height: 15rem;
    resize: none;
    padding: 1rem;
}

textarea:focus {
    border: none;
    overflow: auto;
    outline: none;
    background-color: var(--lightblue300);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.5rem var(--lightblue400) inset;
    resize: none;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--lightblue400);
    border-radius: 1rem;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: var(--lightblue400);
}

::-webkit-scrollbar-thumb {
    background-color: var(--lightblue500);
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--darkblue100);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--darkblue200);
}

::-webkit-scrollbar-button {
    background-color: var(----lightblue400);
    border-radius: 0.8rem;
    display: block;
    height: 0.1rem;
    background-size: 0.8rem;
    background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 1.2rem;
    width: 1.6rem;
    background-position: center 4px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 100,0 50,50'/></svg>");
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,50 50,100 50,0'/></svg>");

}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,50 50,100 50,0'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,50 50,100 50,0'/></svg>");
}

/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(96, 96, 96)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 0,100 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='0,0 0,100 50,50'/></svg>");
}

.text-input textarea::placeholder {
    color: var(--darkblue300);
}
/* INTERACTION */

.section2 {
    grid-area: section2;
    grid-column: 1/2;
    grid-row: 2/3;
}

.text-output {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3.2rem;
    margin: 0 1rem;
    min-height: 100%;
}

.text-encrypted {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 10rem;
    max-height: 15rem;
}

.text-encrypted-yes {
    border: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    min-height: 10rem;
    max-height: 15rem;
    padding: 1rem;
    margin: auto;

    overflow-y: auto;
    outline: none;
    /* background-color: var(--lightblue300); */
    background-color: transparent;
    border-radius: 1rem;
    /* box-shadow: 0 0 1rem 0.5rem var(--lightblue400) inset; */
    resize: none;
}

.text-encrypted-yes textarea {
    color: var(--darkblue400);
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 100%;
    min-height: 10rem;
    resize: none;
    padding: 1rem;
    margin: auto;
    box-shadow: none;
}

.btn-clipboard {
    color: transparent;

    background-image: url(img/copyclipboard-svgrepo-com-vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    filter: invert(31%) sepia(4%) saturate(1120%) hue-rotate(169deg) brightness(93%) contrast(91%);
    border: none;
    outline: none;

    min-height: min(2.5rem);
    min-width: min(2.5rem);
    max-height: max(5rem);
    max-width: max(5rem);
    background-size: contain;
    position: relative;
    bottom: 0.5rem;
    left: 0.5rem;
    transition: 5ms ease-in-out;
}

.btn-clipboard:active {
    filter: invert(15%) sepia(41%) saturate(3675%) hue-rotate(200deg) brightness(90%) contrast(94%);
}

.advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.advice-big {
    text-align: center;
    color: var(--gray500);

    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 120%;
    font-size: 2.4rem;
}

.advice-small {
    text-align: center;
    color: var(--gray400);

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    font-size: 1.6rem
}

.button-copy-pc, .btn-copy-pc {
    display: none;
}

.deactive {
    display: none;
}

.section3 {
    grid-area: section3;
    grid-column: 1/2;
    grid-row: 3/4;
}

.interaction {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    transition: 350ms ease-in-out;
}

.interaction-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    font-size: 1.2rem;
}

.interaction-info p {
    color: var(--gray400);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.buttons button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7rem;
    height: 5.5rem;
    width: 100%;
    border-radius: 2.5rem;
    margin: 1rem;
    transition: 350ms ease-in-out;
}

.buttons button:hover {
    cursor: pointer;
    font-size: 2rem;
}

.buttons button:active {
    font-size: 1.4rem;
}

.buttons button:first-child {
    background-color: var(--darkblue300);
    color: var(--lightblue100);
    border: none;
}

.buttons button:first-child:hover {
    background-color: var(--darkblue400);
}

.buttons button:first-child:active {
    background-color: var(--darkblue500);
}

.buttons button:last-child {
    background-color: var(--gray100);
    color: var(--darkblue300);
    border: none;
}

.buttons button:last-child:hover {
    background-color: var(--gray200);
}

.buttons button:last-child:active {
    background-color: var(--gray300);
}

/* FOOTER */

.footer {
    grid-area: footer;
    grid-column: 1/4;
    grid-row: 3/4;
}

.attribution {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.attribution p {
    font-size: 1rem;
    color: var(--gray300);
}

.attribution a {
    font-size: 1.2rem;
    color: var(--darkblue200);
}

.enfocar {
    animation: tiembla 0.2s infinite;
}

@keyframes tiembla{
    0%  {transform: rotateZ( -1deg) scale(1.5); }
    25% {transform: rotateZ( -2deg) scale(1.5); }
    50% {transform: rotateZ( 0deg) scale(1.5); }
    75% {transform: rotateZ( 1deg) scale(1.5); }
    100%{transform: rotateZ( 2deg) scale(1.5); }
}


@media (min-width: 1025px) {

    .modal-abs {
        width: 35rem;
        height: 30rem;
    }

    .modal-abs p:first-child {
        width: 11rem;
        height: 11rem;
        font-size: 6rem;
    }

    .modal-abs p:nth-child(2) {
        font-size: 3rem;
    }
    
    .modal-abs p:last-child {
        font-size: 2.2rem;
    }

    .grid-layout{
        grid-template-areas:
            "header header header" 
            "main   main   main"
            "footer footer footer";
        grid-template-columns: auto 100% 1fr;
        grid-template-rows: auto auto auto;
    }

    .header {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .title h1{
        font-size: 3.5rem;
    }

    .main {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .footer {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .main-grid {
        grid-template-areas:
            "section1 section1 section2"
            "section1 section1 section2"
            "section3 section3 section2";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr auto;
    }
    
    .section1 {
        grid-column: 1/3;
        grid-row: 1/3;
    }

    .section2 {
        grid-column: 3/4;
        grid-row: 1/4;
    }

    .section3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .text-input {
        margin: 5rem 0 0 0;
        padding: 0 0 0 20rem;
        min-width: 100%;
    }

    .text-input textarea {
        color: var(--darkblue300);
        background-color: transparent;
        border: none;
        font-size: 1.6rem;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 100%;
        min-height: 35rem;
        resize: none;
        padding: 1rem;
    }

    .text-output {
        margin: 1rem 5rem 1rem 5rem;
        padding: 0;
        height: 50rem;
    }

    .text-encrypted-yes {
        width: 92.5%;
        min-height: 40rem;
        max-height: 50rem;
    }

    .text-encrypted-yes textarea {
        width: 100%;
        min-height: 40rem;
    }
    
    .btn-clipboard {
        display: none;
    }

    .interaction {
        margin: 2rem 0 2rem 20rem;
    }

    .button-copy-pc {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    
    .button-copy-pc button {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 5.5rem;
        width: 26rem;
        border-radius: 2.5rem;
        margin: 1rem;
        transition: 350ms ease-in-out;
        
        background-color: var(--gray100);
        color: var(--darkblue300);
        border: none;
    }
    
    .button-copy-pc button:hover{
        cursor: pointer;
        font-size: 1.8rem;
        background-color: var(--gray200);
    }
    
    .button-copy-pc button:active {
        font-size: 3rem;
        background-color: var(--gray300);
    }

    .btn-copy-pc {
        display: block;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
    }

    .buttons button {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 5.5rem;
        width: 40%;
        border-radius: 2.5rem;
        margin: 1rem;
        transition: 350ms ease-in-out;
    }

    .deactive {
        display: none;
    }

    .text-encrypted-no {
        display: inline;
        min-height: min(30rem);
        min-width: min(25rem);
        background-image: url(img/muñeco-vector.svg);
        background-color: transparent;
        box-shadow: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        transition: 500ms ease-in-out;
    }

}

@media (min-width: 481px) and (max-width: 1024px) {

    .modal-abs {
        width: 30rem;
        height: 25rem;
    }
    
    .modal-abs p:first-child {
        width: 9rem;
        height: 9rem;
        font-size: 5rem;
    }

    .modal-abs p:nth-child(2) {
        font-size: 2.7rem;
    }
    
    .modal-abs p:last-child {
        font-size: 1.8rem;
    }

    .grid-layout {
        grid-template-areas: 
            "header header" 
            "main   main"
            "footer footer";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        }

        .header {
            grid-column: 1/3;
            grid-row: 1/2;
        }

        .title h1{
            font-size: 3rem;
        }
    
        .main {
            grid-column: 1/3;
            grid-row: 2/3;
        }
    
        .footer {
            grid-column: 1/3;
            grid-row: 3/4;
        }

    .main-grid {
        grid-template-areas: 
            "section1 section1"
            "section2 section2"
            "section3 section3";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto 1fr;
    }

    .section1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .section2 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .section3 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem;
    }

    .buttons button {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 5.5rem;
        width: 100%;
        border-radius: 2.5rem;
        margin: 1rem;
        transition: 350ms ease-in-out;
    }
}

/* @media (min-width: 320px) and (max-width: 767px) {

} */

@media (prefers-color-scheme: dark) {

    body {
        background-color: #121212;
    }

    .modal-abs {
        background-color: #121212;
        border: 1rem solid white;
    }

    .logo {
        filter: invert(9%) sepia(91%) saturate(1901%) hue-rotate(209deg) brightness(97%) contrast(102%);
    }

    .title h1{
        filter: invert(9%) sepia(91%) saturate(1901%) hue-rotate(209deg) brightness(97%) contrast(102%);
    }

    .text-input textarea {
        color: var(--lightblue300);
    }

    textarea:focus {
        color: var(--lightblue300);
        /* box-shadow: 0 0 1rem 0.5rem var(--gray500) inset; */
        box-shadow: none;
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--gray500);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--gray400);
    }
    
    ::-webkit-scrollbar-thumb:active {
        background-color: var(--gray300);
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-track {
    background-color: transparent;
}

    .text-input textarea::placeholder {
        color: var(--lightblue400);
    }

    .text-output {
        background-color: #343A404A;
    }

    .text-encrypted-yes textarea#txt {
        color: var(--lightblue400);
    }

    .btn-clipboard {
        filter: invert(89%) sepia(8%) saturate(1279%) hue-rotate(196deg) brightness(106%) contrast(97%);
    }
    
    .btn-clipboard:active {
        filter: invert(75%) sepia(21%) saturate(355%) hue-rotate(191deg) brightness(94%) contrast(83%);
    }

    .advice-big {
        color: var(--darkblue100);
    }
    
    .advice-small {
        color: var(--lightblue100);
    }

    .interaction-info img{
        filter: invert(89%) sepia(8%) saturate(1279%) hue-rotate(196deg) brightness(106%) contrast(97%);
    }
    
    .interaction-info p {
        color: var(--lightblue300);
    }

    .buttons button:first-child {
        background-color: var(--gray400);
        color: var(--lightblue400);
    }
    
    .buttons button:first-child:hover {
        background-color: var(--gray300);
        color: var(--darkblue300);
    }
    
    .buttons button:first-child:active {
        background-color: var(--gray500);
        color: var(--lightblue200);
    }
    
    .buttons button:last-child {
        background-color: var(--gray100);
        color: var(--darkblue300);
        border: none;
    }
    
    .buttons button:last-child:hover {
        background-color: var(--gray200);
    }
    
    .buttons button:last-child:active {
        background-color: var(--gray300);
        color: var(--darkblue500);
    }

    .button-copy-pc button {
        background-color: var(--gray400);
        color: var(--lightblue400);
        font-size: 1.7rem;
    }
    
    .button-copy-pc button:hover{
        font-size: 2rem;
        background-color: var(--gray300);
        color: var(--darkblue300);
    }
    
    .button-copy-pc button:active {
        font-size: 1.4rem;
        background-color: var(--gray500);
        color: var(--lightblue200);
    }

    .attribution p {
        font-size: 1rem;
        color: var(--darkblue100);        
    }
    
    .attribution a {
        font-size: 1.2rem;
        color: var(--gray200);
    }
}
